@charset "utf-8";
/* CSS Document */

@font-face{	font-family:'Gotham Bold';	src: url('../fonts/gothambold1.ttf') format('truetype'); }
@font-face{	font-family:'Gotham Book Regular';	src: url('../fonts/ufonts.com_gotham-book.ttf') format('truetype'); }

body{ font-weight: normal;  font-family:'Gotham Book Regular'; color:#474747; height:100%;
    margin:0px;
    padding:0px;
    width:100%;}
input{color:#333;}
p{ line-height:25px; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{ font-family:'Gotham Book Regular';	 line-height:25px; font-size: 20px; color: #fff;}
.btn{font-family:'Gotham Book Regular';}
p, li,a, input{ font-size:11px;}
strong{ font-family:'Gotham Bold'; font-weight:600;}
.bold{font-family:'Gotham Bold';}

body{ background:#f1f1f1;}
textarea{color:#333;}

.border { border-bottom:#478FB6 1px solid; padding:20px 0px;   }

.form-control {
    margin: 0px auto;
    padding:0px;
    border-radius: 50px;
    height: 25px;
    font-family: 'Gotham Bold';
    border: none;
}

.input_select {
    width: 100%;
    height: auto;
    color: #333;
    height: 25px;
    border: none;
    border-radius: 50px;
    background: #fff!important;
    color: #000!important;
}
.input_date input {
    height: 25px;
    width: 148%;
    border-radius: 50px;
    border: none;
}

input{
    padding-left: 5px !important;
}
.mobile_app{ width:100%; margin:0px auto; background:url(../img/banner.jpg); height:800px;}
.mobile_app h1{ margin:0px; padding:70% 0 0 0; text-align:center;}
.mobile_app span{ background:#FFF; padding:25px; border-radius:50px;}
.photo_cam{ width:125px; height:125px; border-radius:200px; background:#fff; margin:0px auto;}



.search_but{ width:40px; height:25px; background:url(../img/searchsubmit.jpg) center no-repeat; border:none; margin-left:-9px;  padding-bottom: 10px; }
.search_text{ width:82%; margin-left:9px !important;}

.search1{ padding:0 10px;}
.search1 p{ float:left; margin-right:5px; color:#FFF;}
.search1 select{ float: left; height: 25px; width:54%; margin-right:1px;}
.up{ float:left; width:40px; height:26px; background:url(../img/up.jpg) center no-repeat; border:none;}
.down{ float:left; width:40px; height:26px; background:url(../img/down.jpg) center no-repeat; border:none;}

.container{ width:auto; padding:0px;}
.innerpage{ width:auto; padding: 0px 15px; margin:0px auto;
    overflow-y: scroll;  -webkit-overflow-scrolling: touch;
}
h1{ color:#fff; margin:4% 0;}
.header{ background:#FFF; padding:15px 10px;}
.header img{ width:150px;}
.bg{ background:url(../img/bg.png) no-repeat center right #65c5e4;}

.login{ padding:25% 0; }
.footer{ padding:15px 0px; background-color: #D2EBF2; position:fixed; width:100%; left:0px; }

.edit img{ float:left; width:10%; margin:0 0 20px 131px;  }

.float { float:left; width:30%;}

.login h1{ font-weight:bold; color:#fff;  padding:0% 0 5% 0; }
.formsec{ color:#fff; font-size:11px; }
.form-control{  margin:0px auto; border-radius:50px; height:25px;  font-family:'Gotham Bold';border:none; }
.form-control1{  margin:4px auto; border-radius:0px; height:30px;  font-family:'Gotham Bold'; width:70%; color:#999;   float:left; background:none !important;}

/*.formsec{width:80%; margin:0px auto;}*/
.formsec{margin:0px auto;}
.button{ background:#e2719d; color:#fff; text-align:center; font-size:15px; font-weight:bold; cursor:pointer; border:none;}
.img {height:125px; width:125px; border-radius:200px;  background-color:#e2719d;}

/*#form { display: block; margin: 20px auto; background: #eee; border-radius: 10px; padding: 15px }*/
.button1{ background:#e2719d; color:#fff; text-align:center; font-size:25px; font-weight:bold; cursor:pointer; border:none; width:40%; margin:12px 22px;}
.sec{ width:46%; float:left; margin-right:15px; padding-bottom:20px;}
.form-group{ font-size:14px;}
.icon-but img{ width:15%; margin:10px 30px 0 0px;}
.count p{ font-size:20px; text-align:center; font-weight:bold;}

/*.profile img{ width:100%;}*/
.profile img{ height:150%; width:150%;}
.profile p{ font-size:11px !important; font-weight:lighter !important; line-height:15px !important;}

.profile_but img{ width:50% !important; margin-bottom:20px;}
.head1 a{ float:left; margin-right:20px;}
.head1 a img{ margin: 10px 0 10px 10px; }
.head1 h1{ float:left; padding-left:20px; margin: 3%  0 !important; }
.form-control2{ width:80%; float:left;}

.patient-detials{ width:100%;}
.input_detail{ width:100%; height:auto;}

.input_lable{ width:100%; height:auto; border-bottom:#CCC 1px solid;}
.lable p{ font-size:12px;}
.input_select{width:100%; height:25px; color: #333;}
.input_area{width:100%; margin-bottom:8px; }
.colr{color:#333;}


/*.bot_border{ border-bottom: #CCC 1px solid; padding:10px; }*/
.bot_border{ border-bottom: #CCC 1px solid; padding-bottom: 10px; padding-top: 30px; }
.input_date{ padding:0px !important}
.input_date input{ height:auto; width:148%;}
.button2{ padding:5px 8px; margin:0 5px; background:#e2719d; color:#fff; float:right; border:none; margin:10px;}
.logo {
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    padding: 9px 0;
    background-color: white}
.logo img{
    width: 60px;
    position: relative;
    top: -1px;
    margin: 0 1px 0 0;}
.name {font-size:18px}
.round{
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 50%;
    
    /* Firefox 1-3.6 */
    -moz-border-radius: 50%;
    
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 50%;
}
.ul {
    display: block;
    list-style-type: disc;
    margin-before: 1em;
    margin-after: 1em;
    margin-start: 0;
    margin-end: 0;
    padding-start: 40px; }

#allergy {padding-left: 8px}
#existingCondi {padding-left: 8px}
#imgProgress {
    position:absolute;
    top:120px;
    left:120px;
    bottom:120px;
    right:120px;
    
    height:25%;
    opacity:0.8;
    z-index: 1;
}

@media(max-width:1280px){
    .profile p {
        font-size: 17px !important;
        font-weight: lighter !important;
        line-height: 34px !important;
    }
}

@media(max-width:1024px){
    .profile_but img { width:32% !important;}
    .head1 h1{ float:none !important;  margin: 1% 0 !important;}
    .profile p {font-size: 16px !important; font-weight: lighter !important; line-height: 20px !important;}
    .row{ padding: 0px; margin: 0px;}
    p {   margin: 0 0 10px; color: #fff;    }
    .col-xs-12{ padding: 5px;}
}

@media(max-width:480px){
    .profile p{font-size: 13px !important;}
    .profile_but img { width: 46% !important;}

    
}

@media(max-width:320px){ .profile_but img { width: 80% !important;}}

